h1 {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    width: 33.33%;
}

td img {
    max-width: 100%;
}