<div class="container">

  <!-- [items] is an @Input property of inventory component. Pass items from app component into [items] -->
  <!-- (addNewItem) is an @Output property of inventory component that carries the
    item to be added to the cart as specified in the method addToCart in inventory component
    The item is then passed to the addItemToCart method in app component as an argument -->
  <app-inventory [items]="items" (addNewItem)="addItemToCart($event)"></app-inventory>

  <app-shopping-card [cart]="selectionCart"></app-shopping-card>
</div>